@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Merienda', sans-serif;
}

#greeting {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    font-size: 36px;
    font-weight: 400;
}

#attribution {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
}

#attribution a {
    color: white;
    text-decoration: none;
}

#attribution a:hover {
    text-decoration: underline;
}